<div class="client-component">
  <h1>Create Client Account</h1><br><br>
  <button (click)="openMesterDialog()">Handyman</button>
  <form (ngSubmit)="onSubmit()" #clientForm="ngForm">
    <!-- Name Field -->
    <div class="inputbox">
      <input type="text" 
      class="input-field" 
      [(ngModel)]="user.name" 
      name="name" 
      placeholder="Name" 
      required>
    </div>

    <!-- Email Field -->
    <div class="inputbox">
      <input type="email"
             class="input-field"
             [(ngModel)]="user.email"
             name="email"
             placeholder="Email"
             #emailField="ngModel"
             (ngModelChange)="validateEmail(emailField)"
             required>
      <div *ngIf="emailField.errors && (emailField.dirty || emailField.touched)">
        <span class="error-message" *ngIf="emailField.errors['required']">
          Email is required.
        </span>
        <span class="error-message" *ngIf="emailField.errors['invalidEmail']">
          Invalid email.
        </span>
      </div>
    </div>

    <!-- Password Field -->
    <div class="inputbox">
      <input type="password" 
      class="input-field" 
      [(ngModel)]="user.password" 
      name="password" 
      placeholder="Password" 
      required>
    </div>

    <div class="inputbox">
      <input type="file" 
      class="input-field" 
      (change)="onImageSelected($event)" 
      accept="image/*">
    </div>

    <!-- Phone Number Field -->
    <div class="inputbox">
      <input type="text" class="input-field" [(ngModel)]="user.phoneNumber" name="phoneNumber" placeholder="Phone Number" #phoneField="ngModel" required pattern="[0-9]*">
      <!-- Phone Number Error Message -->
      <div *ngIf="phoneField.errors && (phoneField.dirty || phoneField.touched)">
        <span class="error-message" *ngIf="phoneField.errors['required']">
          Phone number is required.
        </span>
        <span class="error-message" *ngIf="phoneField.errors['pattern']">
          Please enter a valid phone number.
        </span>
      </div>
    </div>


    <!-- Submit Button -->
    <div class="inputbox">
      <button type="submit">Create Account</button>
    </div>
  </form>
</div>
