.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  .title{
    margin-left: 350px;
  }
  .title2{
    margin-left: 420px;
  }
  .card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribute space between items */
    align-items: start; /* Align items to the start of the card */
    position: relative; /* Relative positioning for the button */
    overflow: hidden; /* Prevents content from spilling out */
    padding-bottom: 70px; /* Additional padding to avoid overlap with button */
  }

  
.card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 2;
  }
  
  .card img {
    width: 100%;
    max-height: 150px;
    object-fit: contain;
  }
  
  .card h4,
  .card p {
    margin: 10px 0;
    text-align: center;
  }
  
.booking-button {
    padding: 10px 15px;
    background-color: #f8c102;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
  }

  .booking-button:hover {
    background-color: #ffc107;
  }
  .expertise-selector label{
    margin-left: 20px;
  }