<div class="first-line">
  <div class="expertise-selector">
    <br><br>
    <h2 class="title">Select an expertise to issue an emergency call</h2>
    <p class="title2">There will be a minimum 50€ fee for any emergency</p>
    <br><br><br><br>
    <div class="card-container">
      <div class="card">
        <h4>Electrician</h4>
        <img src="./assets/electrician.svg" alt="Handyman image">
        <button class="booking-button" (click)="issueEmergencyHelp('Electrician')">Help me</button>
      </div>
      <div class="card">
        <h4>Plumber</h4>
        <img src="./assets/plumber.svg" alt="Handyman image">
        <button class="booking-button" (click)="issueEmergencyHelp('Plumber')">Help me</button>
      </div>
      <div class="card">
        <h4>Locksmith</h4>
        <img src="./assets/picklocker.svg" alt="Handyman image">
        <button class="booking-button" (click)="issueEmergencyHelp('Locksmith')">Help me</button>
      </div>
    </div>
  </div>
</div>
